*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pic{
    /* background-color: rgb(0,0,0); */
    background-image: url(./IN-en-20240415-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    object-fit:cover;
    /* position: fixed; */
    width: 1520px;
    height:1200px;
    border: 5px solid white;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: auto; */
    z-index: 0;
    
}
.start{
    width: 9.25rem;
    height: 2.5rem;
    color: rgb(229, 9, 20);
    fill: currentColor;
    display: block;
}
   
   
.head{
    padding: 30px;
}

.container{
    padding:75px;
    width: 450px;
    height: 700px;
    margin: auto;
    /* margin-bottom:100px ; */
    padding: 48px,68px;
    background-color:rgba(0,0,0,0.8);
    /* text-align:center; */
    /* padding: 30px; */
    /* margin: 80px auto; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    
}
.main-1{
    position: relative;
    bottom: 15px;
}
.cntre1{
    /* border: 1px solid white; */
    width: 300px;
    height: 400px;
    text-align: center;
}
.cntre2{
    position:relative;
    bottom: 23px;
    /* border: 1px solid red; */
    width:350px;
    height: 400px;
    margin-bottom: 20px;
}
h1{
    color: white;
    margin-right: 130px;
}
.box1{
    width: 100%;
    margin: 10px 0px 20px;
    font-size: 1.5em;
    
    /* padding: 10px 10px; */
    border-color: blue;
    box-sizing: border-box;
    /* background-color: rgba(0,0,0,0.5); */
}
.box-1{
    border-radius: 5px;
}
.box2{
    width: 100%;
    margin: 10px 0px 20px;
    font-size: 1.5em;
    border-radius: 5px;
    padding: 10px 10px;
    border-color: blue;
    box-sizing: border-box;
}
input{
    padding: 20px 50px 8px;
    /* text-align: center; */
    background-color: rgba(0,0,0,0.5);
    color: white;
}
.sign{
    box-sizing: border-box;
    /* margin: 10px 0px 20px; */
    background-color: red;
    color: white;
    /* box-sizing: border-box;   */
    width: 85%;
    padding: 10px;
    border-radius: 5px;

}
.para1{
    /* border: 1px solid red; */
    display: inline-flex;
    padding: 10px;
    color:rgb(255 255 255 / 70%);
    font-weight: bold;
    font-size: 15px;
}
.btn2{
    /* border: 1px solid red;
    width: 100%;
    height: 40px; */
    display: flex;
    justify-content: center;
   
    

}
.btn2-2{
    /* border: 1px solid red; */
    width: 85%;
    height: 40px;
    /* background-color: rgba(38, 37, 37, 0.4);   */
    /* background-color: rgba(0, 0, 0, .35); */
   background-color:#c9d1d93f;
   color: white;
   border-radius: 5px;
}

.frgt{
/* border: 1px solid red; */
display: inline-block;
padding: 10px;
/* padding-top: 5px; */
}
.frgt-1{
    color: white;
    text-decoration: none;
}
.frgt-1:hover{
    text-decoration: underline;
}
.check1{
    /* border: 1px solid yellowgreen; */
    display: inline-flex;
    color: white;
    /* padding: 7px;     */
    gap: 10px;
   
}
.para2{
    /* border: 1px solid gold; */
    display: inline-flex;
    /* padding: 10px; */
    margin-top: 20px;
    color: white;
}
.para-2{
    color: white;
    text-decoration: none
}
.para-2:hover{
    text-decoration: underline;
}
.para3{
    /* border: 1px solid white; */
    display: inline-flex;
    color: #8c8c8c;
    align-items: center;
    margin-top: 20px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 16px;
}
.btne1{
    background-color: transparent;
    color: #0071eb;
    border: none;
    cursor: pointer;
    display: inline;
    font-size: inherit;
    font-family: inherit;
    font-size: 13px;
}
.btne1:hover{
text-decoration: underline;
}
.footer{
    /* border: 3px solid yellow; */
    width: 1510px;
    height: 330px;
     background-color:rgba(0,0,0,0.8);
     margin-top: 60px;
}
.end{
    /* border: 1px solid red; */
    width: 90%;
    height: 300px;
    /* margin: 50px 40px 20px 80px; */
    margin-top: 20px;
    /* display: flex; */
    /* margin-left: 20px; */
    padding:20px 20px 0 120px;
}
.end1{
    /* border: 1px solid white; */
    width: 90%;
    height: 150px;
    display: flex;
    /* margin-top: 80px; */

}
.end2{
    /* border: 1px solid blueviolet; */
    width: 50%;
    height: 30px;
    color: #8c8c8c;
    /* gap: 40px; */
    /* font-size: 1rem; */
    /* font-weight: 400; */
    display: flex;
    justify-content: left;   
    align-items: center;
    gap: 7px;
    font-size: inherit;
    font-family: inherit;
    /* margin-top: 20px; */
}
.end3{
    /* border: 1px solid violet; */
    display:flexbox;
    /* flex-direction: column; */
    width: 150px;
    height: 30px;
    /* margin-top: 20px; */
    display: flex;
    justify-content: left;
    align-items: center;


}
.end4{
    color:rgb(255 255 255 / 70%);
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    /* letter-spacing: inherit; */
    /* line-height: inherit; */
}
.end5{
  /* border: 1px solid blue; */
  width: 1000px;
  height: 120px;
  display: flex;
  /* justify-content:space-evenly; */
  /* align-items:center; */
  /* gap: px; */
  margin-top: 15px;

}
.end6{
    color: #8c8c8c;
    font-size: inherit;
    font-family: inherit;
    text-decoration: none;
   
}
.end6:hover{
text-decoration: underline;
}
.end7{
    /* border: 1px solid goldenrod; */
    width: 400px;
    height: 50px;
    /* margin-top: 20px; */
}
.end8{
    /* border: 1px solid rgb(0, 255, 153); */
    width: 200px;
    height: 30px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;

}
.trans-1{
    color: transparent;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    /* width: 200px; */
}
.trans-1:hover{
    border: 2px solid white;
    /* background-color: #0071eb; */
}
.trans-1{
    width: 110px;
    height: 30px;
    margin-bottom: 50px;
}